footer.footer 
  div(class="ms_footer_wrapper")
    div(class="ms_footer_logo")
      a(href="index-2.html")
        img(
          alt="" 
          src="/images/open_logo.png"
          )
    div(class="ms_footer_inner")
      .row
        .col-lg-3.col-md-6
        .col-lg-3.col-md-6
          div(class="footer_box")
            h1(class="footer_title") #{settingGeneral.websiteName}
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.
        .col-lg-3.col-md-6
          div(class="footer_box footer_contacts")
            h1(class="footer_title") liên hệ
            ul(class="foo_con_info")
              li
                div(class="foo_con_icon")
                  img(
                    alt="" 
                    src="/images/svg/phone.svg"
                    )
                div(class="foo_con_data")
                  span.con-title Số điện thoại :
                  span #{settingGeneral.phone}
              li
                div(class="foo_con_icon")
                  img(
                    alt="" 
                    src="/images/svg/message.svg"
                    )
                div(class="foo_con_data")
                  span.con-title email :
                  span
                    a(href="#") #{settingGeneral.email}
              li
                div(class="foo_con_icon")
                  img(
                    alt="" 
                    src="/images/svg/add.svg"
                    )
                div(class="foo_con_data")
                  span.con-title địa chỉ :
                  span #{settingGeneral.address}
            div(class="foo_sharing")
              div(class="share_title") theo dõi :
              ul
                li
                  a(href="#")
                    i.fa-brands.fa-facebook(aria-hidden="true")
                li
                  a(href="#")
                    i.fa-brands.fa-linkedin(aria-hidden="true")
        .col-lg-3.col-md-6
    //- --Copyright--
    .col-lg-12
      div(class="ms_copyright")
        div(class="footer_border")
        p
          a(
            href="https://www.templateshub.net" 
            target="_blank"
            ) #{settingGeneral.copyright} 