extends ../../layouts/default.pug

block main 
  .content-wrapper
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            .admin-detail-page
              h4.card-title.mb-4 Thông tin ca sĩ: #{pageTitle}
              
              .detail-header
                if(singer.avatar)
                  .detail-avatar
                    img(src=singer.avatar alt=singer.fullName class="avatar-img")
                else
                  .detail-avatar
                    img(src="/admin/images/avatar.png" alt="Avatar" class="avatar-img")
                
                if(singer.fullName)
                  h3.detail-title #{singer.fullName}
              
              .detail-info
                if(singer.fullName)
                  .info-item
                    label.info-label Tên ca sĩ:
                    span.info-value #{singer.fullName}
                
                if(singer.nation)
                  .info-item
                    label.info-label Quốc gia:
                    span.info-value #{singer.nation}
                
                if(singer.position)
                  .info-item
                    label.info-label Vị trí:
                    span.info-value #{singer.position}
                
                if(singer.status)
                  .info-item
                    label.info-label Trạng thái:
                    if(singer.status === "active")
                      span.badge.badge-success Hoạt động
                    else
                      span.badge.badge-danger Dừng hoạt động
              
              .detail-actions
                a(
                  href=`${prefixAdmin}/singers/edit/${singer.id}`
                  class="btn btn-warning"
                  title="Chỉnh sửa"
                )
                  i.mdi.mdi-pencil.mr-2
                  | Chỉnh sửa 