extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("roles_view"))
    +alert-success(3000)
    +alert-error(3000)

    .content-wrapper
      .row
        .col-lg-12.grid-margin.stretch-card
          .card
            .card-body
              h4.card-title #{pageTitle}
              
              .row.mb-3
                .col-12(style="text-align: right;")
                  if(role.permissions.includes("roles_create")) 
                    a(
                      href=`${prefixAdmin}/roles/create`
                      class="btn btn-success"
                    ) + Thêm mới

              .table-responsive
                table(
                  class="table table-hover"
                ) 
                  thead 
                    tr 
                      th STT
                      th Nhóm quyền
                      th Mô tả ngắn
                      th Hành động

                  tbody 
                    if(records.length > 0)
                      each item, index in records
                        tr 
                          td #{index + 1}
                          td #{item.title}
                          td #{item.description} 
                          td
                            if(role.permissions.includes("roles_edit")) 
                              a(
                                href=`${prefixAdmin}/roles/edit/${item.id}`
                                class="btn btn-warning btn-sm"
                              ) Sửa  
                            if(role.permissions.includes("roles_delete"))    
                              button(
                                class="btn btn-danger btn-sm"
                                button-delete
                                data-id=item.id
                              ) Xóa
                    else 
                      tr 
                        td(colspan="4" class="text-center") Chưa có quyền nào được tạo.

              form(
                action=""
                method="POST"
                id="form-delete-item"
                data-path=`${prefixAdmin}/roles/delete`
              )

  else 
    h1 Bạn không có quyền truy cập vào trang này