extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
  +alert-success(5000)
  +alert-error(5000)

  .container-scroller
    .container-fluid.page-body-wrapper.full-page-wrapper
      .content-wrapper.d-flex.align-items-center.auth.px-0
        .row.w-100.mx-0
          .col-lg-4.mx-auto
            .auth-form-light.text-left.py-5.px-4.px-sm-5
              .brand-logo
                img(src='/admin/images/logo.svg' alt='logo')
              h6.fw-light Đăng nhập để tiếp tục.
              
              form.pt-3(
                action=`${prefixAdmin}/auth/login`
                method="POST"
              )

                .form-group
                  input.form-control.form-control-lg(
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                  )

                .form-group
                  input.form-control.form-control-lg(
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Mật khẩu"
                    required
                  )

                .mt-3
                  button.btn.btn-block.btn-primary.btn-lg.font-weight-medium.auth-form-btn(
                    type="submit"
                  ) ĐĂNG NHẬP
              
                  

