extends ../../layouts/default.pug

block main 
  .content-wrapper
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            .admin-detail-page
              h4.card-title.mb-4 Thông tin chủ đề: #{pageTitle}
              
              .detail-header
                if(topic.avatar)
                  .detail-avatar
                    img(src=topic.avatar alt=topic.title class="avatar-img")
                else
                  .detail-avatar
                    img(src="/admin/images/avatar.png" alt="Avatar" class="avatar-img")
                
                if(topic.title)
                  h3.detail-title #{topic.title}
              
              .detail-info
                if(topic.title)
                  .info-item
                    label.info-label Tên chủ đề:
                    span.info-value #{topic.title}
                
                if(topic.position)
                  .info-item
                    label.info-label Vị trí:
                    span.info-value #{topic.position}
                
                if(topic.status)
                  .info-item
                    label.info-label Trạng thái:
                    if(topic.status === "active")
                      span.badge.badge-success Hoạt động
                    else
                      span.badge.badge-danger Dừng hoạt động
                
                if(topic.description)
                  .info-item.info-item-full
                    label.info-label Mô tả:
                    .info-value.description-content !{topic.description}
              
              .detail-actions
                a(
                  href=`${prefixAdmin}/topics/edit/${topic.id}`
                  class="btn btn-warning"
                  title="Chỉnh sửa"
                )
                  i.mdi.mdi-pencil.mr-2
                  | Chỉnh sửa 