extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .content-wrapper
    .row
      .col-12.grid-margin
        .card
          .card-body
            h4.card-title #{pageTitle}

            form.form-sample(
              action=`${prefixAdmin}/info-admin/edit?_method=PATCH`
              method="POST"
              enctype="multipart/form-data"
            )
              p.card-description
                | Cập nhật thông tin tài khoản

              .row
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="fullName") Họ tên *
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="fullName"
                        name="fullName"
                        value=user.fullName
                        required
                      )
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="email") Email *
                    .col-sm-9
                      input.form-control(
                        type="email"
                        id="email"
                        name="email"
                        value=user.email
                        required
                      )
              
              .row
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="password") Mật khẩu
                    .col-sm-9
                      input.form-control(
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Nhập nếu muốn đổi"
                      )
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="phone") Số điện thoại
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="phone"
                        name="phone"
                        value=user.phone
                      )

              .row
                .col-md-6
                  .form-group.row(upload-image)
                    label.col-sm-3.col-form-label(for="avatar") Avatar
                    .col-sm-9
                      input.form-control-file(
                        type="file"
                        id="avatar"
                        name="avatar"
                        accept="image/*"
                        upload-image-input
                      )
                      img.image-preview(
                        src=user.avatar
                        upload-image-preview
                        style="max-width: 200px; margin-top: 10px;"
                      )
              
              button(
                type="submit"
                class="btn btn-primary me-2"
              ) Cập nhật