extends ../../layouts/default.pug 

block main 
  .content-wrapper
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            .admin-profile
              h4.card-title.mb-4 #{pageTitle}
              
              .profile-header
                .profile-avatar
                  if(user.avatar)
                    img(src=user.avatar alt="Avatar" class="avatar-img")
                  else 
                    img(src="/admin/images/avatar.png" alt="Avatar" class="avatar-img")
                
                if(role.title)
                  h3.profile-role #{role.title}
              
              .profile-info
                .info-item
                  label.info-label Họ tên:
                  span.info-value #{user.fullName || 'N/A'}
                
                if(user.email)
                  .info-item
                    label.info-label Email:
                    span.info-value #{user.email}
                
                if(user.phone)
                  .info-item
                    label.info-label Số điện thoại:
                    span.info-value #{user.phone}
                
                .info-item
                  label.info-label Trạng thái:
                  if(user.status === "active")
                    span.badge.badge-success Hoạt động
                  else
                    span.badge.badge-danger Dừng hoạt động
              
              .profile-actions
                a(
                  href=`${prefixAdmin}/info-admin/edit`
                  class="btn btn-primary"
                ) 
                  i.mdi.mdi-pencil.mr-2
                  | Chỉnh sửa thông tin 