extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .content-wrapper
    .row
      .col-12.grid-margin
        .card
          .card-body
            h4.card-title #{pageTitle}

            form.form-sample(
              action=`${prefixAdmin}/settings/general?_method=PATCH`
              method="POST"
              enctype="multipart/form-data"
            )
              p.card-description
                | Cập nhật cài đặt chung

              .row
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="websiteName") Tên website
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="websiteName"
                        name="websiteName"
                        value=(settingGeneral ? settingGeneral.websiteName : "")
                      )
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="phone") Số điện thoại
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="phone"
                        name="phone"
                        value=(settingGeneral ? settingGeneral.phone : "")
                      )
              
              .row
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="email") Email
                    .col-sm-9
                      input.form-control(
                        type="email"
                        id="email"
                        name="email"
                        value=(settingGeneral ? settingGeneral.email : "")
                      )
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="address") Địa chỉ
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="address"
                        name="address"
                        value=(settingGeneral ? settingGeneral.address : "")
                      )
              
              .row
                .col-md-6
                  .form-group.row(upload-image)
                    label.col-sm-3.col-form-label(for="logo") Logo
                    .col-sm-9
                      input.form-control-file(
                        type="file"
                        id="logo"
                        name="logo"
                        accept="image/*"
                        upload-image-input
                      )
                      img.image-preview(
                        src=(settingGeneral ? settingGeneral.logo : "")
                        upload-image-preview
                        style="max-width: 200px; margin-top: 10px;"
                      )
                .col-md-6
                  .form-group.row
                    label.col-sm-3.col-form-label(for="copyright") Copyright
                    .col-sm-9
                      input.form-control(
                        type="text"
                        id="copyright"
                        name="copyright"
                        value=(settingGeneral ? settingGeneral.copyright : "")
                      )
              
              button(
                type="submit"
                class="btn btn-primary me-2"
              ) Cập nhật