extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("songs_create"))
    +alert-success(3000)
    +alert-error(3000)

    .content-wrapper
      .row
        .col-12.grid-margin
          .card
            .card-body
              h4.card-title #{pageTitle}
              
              form.form-sample(
                action=`${prefixAdmin}/songs/create`
                method="POST"
                enctype="multipart/form-data"
              )
                p.card-description
                  | Nhập thông tin bài hát

                .row
                  .col-md-6
                    .form-group.row
                      label.col-sm-3.col-form-label(for="title") Tiêu đề
                      .col-sm-9
                        input.form-control(
                          type="text"
                          id="title"
                          name="title"
                          required
                        )
                  .col-md-6
                    .form-group.row
                      label.col-sm-3.col-form-label(for="singer") Ca sĩ
                      .col-sm-9
                        select.form-control(
                          name="singerId"
                          id="singer"
                          required
                        )
                          option(value="" disabled selected) -- Chọn ca sĩ -- 
                          each item in singers
                            option(value=item.id) #{item.fullName}
                
                .row
                  .col-md-6
                    .form-group.row
                      label.col-sm-3.col-form-label(for="topic") Chủ đề
                      .col-sm-9
                        select.form-control(
                          name="topicId"
                          id="topic"
                          required
                        )
                          option(value="" disabled selected) -- Chọn chủ đề -- 
                          each item in topics
                            option(value=item.id) #{item.title}
                  .col-md-6
                    .form-group.row
                      label.col-sm-3.col-form-label Trạng thái
                      .col-sm-4
                        .form-check
                          label.form-check-label(for="statusActive")
                            input#statusActive.form-check-input(
                              type='radio'
                              name='status'
                              value='active'
                              checked
                            )
                            | Hoạt động
                      .col-sm-5
                        .form-check
                          label.form-check-label(for="statusInActive")
                            input#statusInActive.form-check-input(
                              type='radio'
                              name='status'
                              value='inactive'
                            )
                            | Dừng hoạt động

                .row
                  .col-md-6
                    .form-group.row(upload-image)
                      label.col-sm-3.col-form-label(for="avatar") Ảnh
                      .col-sm-9
                        input.form-control-file(
                          type="file"
                          id="avatar"
                          name="avatar"
                          accept="image/*"
                          upload-image-input
                        )
                        img.image-preview(
                          src=""
                          upload-image-preview
                          style="max-width: 200px; margin-top: 10px;"
                        )
                  .col-md-6
                    .form-group.row(upload-audio)
                      label.col-sm-3.col-form-label(for="audio") File âm thanh
                      .col-sm-9
                        input.form-control-file(
                          type="file"
                          id="audio"
                          name="audio"
                          accept="audio/*"
                          upload-audio-input
                        )
                        audio(controls upload-audio-preview style="width: 100%; margin-top: 10px;")
                          source(src="")

                .row
                  .col-md-12
                    .form-group.row
                      label.col-sm-2.col-form-label(for="lyrics") Lời bài hát
                      .col-sm-10
                        textarea.form-control(
                          id="lyrics"
                          name="lyrics"
                          rows="10" 
                        )
                
                .row
                  .col-md-12
                    .form-group.row
                      label.col-sm-2.col-form-label(for="desc") Mô tả
                      .col-sm-10
                        textarea.form-control.textarea-mce(
                          id="desc"
                          name="description"
                          rows="5"
                        )

                .row
                  .col-md-12
                    button(
                      type="submit"
                      class="btn btn-primary me-2"
                    ) Tạo mới
                    button(
                      type="button"
                      class="btn btn-light"
                      onclick="window.history.back()"
                    ) Trở về

    script(src="/public/admin/css/style.css")

  else 
    h1 Bạn không có quyền truy cập vào trang này