extends ../../layouts/default.pug

block main
  .content-wrapper
    .row
      .col-12
        h4.page-title.mb-4
          i.mdi.mdi-view-dashboard.mr-2
          | Trang tổng quan

    .row
      .col-lg-12.mb-4
        .card.dashboard-account-card
          .card-body
            .account-info-header
              if(user.avatar)
                .account-avatar
                  img(src=user.avatar alt="Avatar" class="avatar-img")
              else
                .account-avatar
                  img(src="/admin/images/avatar.png" alt="Avatar" class="avatar-img")
              
              .account-info
                h3.account-name #{user.fullName || 'Admin'}
                if(user.email)
                  p.account-email
                    i.mdi.mdi-email-outline.mr-2
                    | #{user.email}
            
            .account-details
              if(user.fullName)
                .detail-item
                  i.mdi.mdi-account-outline.detail-icon
                  span.detail-label Họ tên:
                  span.detail-value #{user.fullName}
              
              if(user.phone)
                .detail-item
                  i.mdi.mdi-phone-outline.detail-icon
                  span.detail-label Số điện thoại:
                  span.detail-value #{user.phone}
              
              if(role.title)
                .detail-item
                  i.mdi.mdi-account-key-outline.detail-icon
                  span.detail-label Phân quyền:
                  span.detail-value.badge-role #{role.title}

    .row
      .col-lg-6.col-md-6.mb-4
        .card.stat-card.stat-card-primary
          .card-body
            .stat-header
              i.mdi.mdi-folder-music.stat-icon
              h5.stat-title Thống kê chủ đề
            .stat-content
              .stat-item
                span.stat-label Tổng số:
                span.stat-value #{statictis.topic.total || 0}
              .stat-item
                span.stat-label Hoạt động:
                span.stat-value.stat-active #{statictis.topic.active || 0}
              .stat-item
                span.stat-label Dừng hoạt động:
                span.stat-value.stat-inactive #{statictis.topic.inactive || 0}

      .col-lg-6.col-md-6.mb-4
        .card.stat-card.stat-card-success
          .card-body
            .stat-header
              i.mdi.mdi-account-music.stat-icon
              h5.stat-title Thống kê ca sĩ
            .stat-content
              .stat-item
                span.stat-label Tổng số:
                span.stat-value #{statictis.singer.total || 0}
              .stat-item
                span.stat-label Hoạt động:
                span.stat-value.stat-active #{statictis.singer.active || 0}
              .stat-item
                span.stat-label Dừng hoạt động:
                span.stat-value.stat-inactive #{statictis.singer.inactive || 0}

      .col-lg-6.col-md-6.mb-4
        .card.stat-card.stat-card-info
          .card-body
            .stat-header
              i.mdi.mdi-music.stat-icon
              h5.stat-title Thống kê bài hát
            .stat-content
              .stat-item
                span.stat-label Tổng số:
                span.stat-value #{statictis.song.total || 0}
              .stat-item
                span.stat-label Hoạt động:
                span.stat-value.stat-active #{statictis.song.active || 0}
              .stat-item
                span.stat-label Dừng hoạt động:
                span.stat-value.stat-inactive #{statictis.song.inactive || 0}

      .col-lg-6.col-md-6.mb-4
        .card.stat-card.stat-card-warning
          .card-body
            .stat-header
              i.mdi.mdi-account-supervisor.stat-icon
              h5.stat-title Tài khoản admin
            .stat-content
              .stat-item
                span.stat-label Tổng số:
                span.stat-value #{statictis.accountAdmin.total || 0}
              .stat-item
                span.stat-label Hoạt động:
                span.stat-value.stat-active #{statictis.accountAdmin.active || 0}
              .stat-item
                span.stat-label Dừng hoạt động:
                span.stat-value.stat-inactive #{statictis.accountAdmin.inactive || 0}

      .col-lg-6.col-md-6.mb-4
        .card.stat-card.stat-card-danger
          .card-body
            .stat-header
              i.mdi.mdi-account-group.stat-icon
              h5.stat-title Tài khoản client
            .stat-content
              .stat-item
                span.stat-label Tổng số:
                span.stat-value #{statictis.accountUser.total || 0}
              .stat-item
                span.stat-label Hoạt động:
                span.stat-value.stat-active #{statictis.accountUser.active || 0}
              .stat-item
                span.stat-label Dừng hoạt động:
                span.stat-value.stat-inactive #{statictis.accountUser.inactive || 0}