extends ../../layouts/default.pug
include ../../mixins/alert.pug 

block main 
  +alert-success(3000)
  +alert-error(3000)

  .container.my-5
    div(class="modal-content")
      .modal-body
        .row
          .col-md-6
            div(class="ms_register_img")
              img.img-fluid(src="/images/register_img.png", alt="")
          .col-md-6
            form(
              action="/users/register"
              method="POST"
            )
              div(class="ms_register_form")
                h2 Đăng ký tài khoản
                .form-group
                  input.form-control(
                    type="text", 
                    placeholder="Họ và tên",
                    id="fullName", name="fullName", required
                  )
                  span(class="form_icon")
                    i(class="fa_icon form-user", aria-hidden="true")
                .form-group
                  input.form-control(
                    type="email", 
                    placeholder="Email",
                    id="email", name="email", required
                  )
                  span(class="form_icon")
                    i(class="fa_icon form-envelope", aria-hidden="true")
                .form-group
                  input.form-control(
                    type="password", 
                    placeholder="Mật khẩu",
                    id="password", name="password", required
                  )
                  span(class="form_icon")
                    i(class="fa_icon form-lock", aria-hidden="true")
                .form-group
                  input.form-control(
                    type="password", 
                    placeholder="Nhập lại mật khẩu",
                    id="confirmPassword", name="confirmPassword", required
                  )
                  span(class="form_icon")
                    i(class=" fa_icon form-lock", aria-hidden="true")
                button(
                  type="submit",
                  class="ms_btn"
                ) đăng ký
                p Bạn đã có tài khoản? 
                  a(href="/users/login") đăng nhập