extends ../../layouts/default.pug
include ../../mixins/alert.pug 

block main 
  +alert-success(3000)
  +alert-error(3000)

  .container.my-5
    div(class="modal-content")
      .modal-body
        .row
          .col-md-6
            div(class="ms_register_img")
              img.img-fluid(src="/images/register_img.png", alt="Reset Password")
          .col-md-6
            form(
              action="/users/password/reset"
              method="POST"
            )
              div(class="ms_register_form")
                h2 Đổi mật khẩu
                .form-group
                  input.form-control(
                    type="password",
                    placeholder="Mật khẩu mới",
                    id="password",
                    name="password",
                    required
                  )
                  span(class="form_icon")
                    i(class="fa_icon form-lock", aria-hidden="true")
                .form-group
                  input.form-control(
                    type="password",
                    placeholder="Xác nhận mật khẩu",
                    id="confirmPassword",
                    name="confirmPassword",
                    required
                  )
                  span(class="form_icon")
                    i(class="fa_icon form-lock", aria-hidden="true")
                button(
                  type="submit",
                  class="ms_btn"
                ) Đổi mật khẩu